@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

/* .home{
    
} */

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-bottom: 10px;
}

.heading img{
    width: 18px;
    padding-left: 175px;
}
.left{
    width: 25vw;
    padding: 3px;
}

.right{
    width: 75vw;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    
}

.right{
    margin: 7px 0;
    position: relative;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: end;
    padding-bottom: 15px;
    gap: 4px;
}

.header{
    padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

/* .nav {
  
} */

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button {
  background-color: transparent; 
  color: grey;           
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.buttons button:hover {
   color: white;
}

.buttons span {
  color: grey;
}


/* Target only the last button inside .buttons (Login) */
.buttons button:last-child {
  background-color: #fff;  
  color: #000;           
  border: none;
  padding: 8px 16px;
  border-radius: 15px;    
  cursor: pointer;
  font-size: 16px;
}

.buttons button:last-child:hover {
  background-color: #ddd; 

}



/* right section styling */
.spotifyPlaylists{
    margin: 25px 0 0 25px;
}

.spotifyPlaylists h2{
    margin: 3px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.card{
    width: 135px;
    padding: 5px;
    cursor: pointer;
    background-color: #252525;
    position: relative;
}

.card p{
    font-size: small;
    font-weight: 500;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card > *{
    padding-top: 3px;
}

.play{
    position: absolute;
    top: 90px;
    right: 10px;
}

.playbar{
    position: fixed;
    bottom: 20px;
    background-color: #303030;
    padding: 4px 6px 12px;
    width: 142vh;
    height: 40px;
    cursor: pointer;
    border-radius: 40px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songbuttons img{
    width: 33px;
}

.songList{
    height: 355px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul{
    padding: 0 30px;
}

.songList li{
    list-style: decimal;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px -30px;
    padding: 10px;
    border-radius: 5px;
}

.songList img{
    width: 30px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: small;
}

.playnow span{
    font-size: small;
}

.seekbar{
    width: 90%;
    margin: 5px 5px 5px 25px;
    border: 2px solid #b8adadff;
    border-radius: 10px;
    position: absolute;
    bottom: 6px;
}

