@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.home{
    
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
}

.heading img{
    width: 18px;
    padding-left: 175px;
}
.left{
    width: 25vw;
    padding: 3px;
}

.right{
    width: 75vw;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    
}

.right{
    margin: 7px 0;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: end;
    padding-bottom: 15px;
    gap: 4px;
}

.header{
    padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.nav {
  
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button {
  background-color: transparent; 
  color: grey;           
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.buttons button:hover {
   color: white;
}

.buttons span {
  color: grey;
}


/* Target only the last button inside .buttons (Login) */
.buttons button:last-child {
  background-color: #fff;  
  color: #000;           
  border: none;
  padding: 8px 16px;
  border-radius: 15px;    
  cursor: pointer;
  font-size: 16px;
}

.buttons button:last-child:hover {
  background-color: #ddd; 

}



/* right section styling */
.spotifyPlaylists{
    margin: 25px 0 0 25px;
}

.spotifyPlaylists h2{
    margin: 3px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.card{
    width: 135px;
    padding: 5px;
    cursor: pointer;
    background-color: #252525;
    position: relative;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card > *{
    padding-top: 3px;
}

.play{
    position: absolute;
    top: 90px;
    right: 10px;
}